{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/add_project.css' %}" />

<div class="container-sm p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_list' %}">Lista de proyectos de investigacion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar proyecto de investigacion</li>
        </ol>
    </nav>
  </div>
    <div class="container-general">
        <header class="title-page">Agregar Proyecto de Investigación</header>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" class="form-control" maxlength="50" required="" id="id_name" placeholder="Nombre"><div class="mb-3">
                <textarea class="form-control" name="description" required="" id="id_description" rows="4" placeholder="Descripción"></textarea>
            </div>
            
            <div class="mb-3">
                <textarea class="form-control" name="objectives" required="" id="id_objectives" rows="4" placeholder="Objetivos"></textarea>
            </div>
            
            <input type="date" name="start_date" class="form-control" required="" id="id_start_date" placeholder="Fecha de Inicio">
            <input type="date" name="finish_date" class="form-control" required="" id="id_finish_date" placeholder="Fecha de Fin">
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
