{% extends 'base.html' %}

{% block content %}
    <h2>Información del patrocinador</h2><br>

    <tr>
        NIT = <td>{{sponsor.nit}}</td><br>
        Nombre = <td>{{sponsor.name}}</td><br>
        Tipo = <td>{{sponsor.type}}</td><br>
        Email = <td>{{sponsor.mail}}</td><br>
        Donacion Inicial = <td>{{sponsor.initial_donation}}</td><br>
        Estado = <td>{{sponsor.status}}</td>
    </tr>
    <br><br><br>

    <div class="container-sm p-4">   
        <h1>Agregar Donación</h1><br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="value" class="col-sm-2 col-form-label">Valor:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="value" name="value" required>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="type" class="col-sm-2 col-form-label">Tipo de donación:</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="type" name="type" required>
                            {% for option in form.type.field.choices %}
                                <option value="{{ option.0 }}">{{ option.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
    
                <div class="row mb-3">
                    <label for="id_date" class="col-sm-2 col-form-label">Fecha de la donación:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="date" required id="id_date">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    

{% endblock %}