{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/add_project.css' %}" />

<div class="container-sm p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_list' %}">Lista de proyectos de investigacion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar proyecto de investigacion</li>
        </ol>
    </nav>
</div>

<div class="container-general">
    <header class="title-page">Agregar Proyecto de Investigación</header>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="mb-3">
            {{ form.objectives.label_tag }}
            {{ form.objectives }}
        </div>

        <div class="mb-3">
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
        </div>

        <div class="mb-3">
            {{ form.finish_date.label_tag }}
            {{ form.finish_date }}
        </div>

        <div class="mb-3">
            {{ form.sponsors.label_tag }}
            {{ form.sponsors }}
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
