{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_project.css' %}" />

<div class="container-sm p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project_list' %}">Lista de proyectos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar proyecto</li>
        </ol>
    </nav>
</div>
<head>
    <title>Editar Proyecto de Investigación</title>
</head>
<body>

<div class="container-general">
    <header class="title-page">Editar Proyecto de Investigación</header>
    <form method="post">
        {% csrf_token %}
        
        <header class="subtitulo">Nombre: </header>
        <input type="text" name="name" class="form-control" maxlength="50" required="" id="id_name" value="{{project.name}}">
        <div class="mb-3">
            <header class="subtitulo">Descripción: </header>
            <textarea class="form-control" name="description" required="" id="id_description" rows="4">{{project.description}}</textarea>
        </div>
        <div class="mb-3">
            <header class="subtitulo">Objetivo: </header>
            <textarea class="form-control" name="objectives" required="" id="id_objectives" rows="4">{{project.objectives}}</textarea>
        </div>
        
        <header class="subtitulo">Fecha de inicio: </header>
        <input type="date" name="start_date" class="form-control" required="" id="id_start_date" value="{{project.start_date|date:'Y-m-d'}}">

        <header class="subtitulo">Fecha de fin: </header>
        <input type="date" name="finish_date" class="form-control" required="" id="id_finish_date" value="{{project.finish_date|date:'Y-m-d'}}">

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
        
    </form>
</div>

<div class="container-sponsor">
    <header class="subtitulo">Agregar patrocinadores</header>
        <div class="form-group"></div>
            <form action="" method="POST" name="link_sponsor">
                {% csrf_token %} 
                {% for s in sponsors %}
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{s.nit}}</h5>
                        <div class="card-body d-flex justify-content-between">
                            <div>
                                <h5 class="card-title">{{s.name}}</h5>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary" name="link_sponsor" value={{s.nit}}>Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>

        <div class="container-sponsor">
            <header class="subtitulo">Patrocinadores activos</header>
            {% for r in project_sponsors %}
            <div class="col">
                <div class="card">
                    <h5 class="card-header">{{r.nit}}</h5>
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">{{r.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
</html>
{% endblock %}