{% extends 'base.html' %}

{% block content %}
<head>
    <title>Editar Proyecto de Investigación</title>
</head>
<body>
    <h1>Editar Proyecto de Investigación</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cambios</button>
    </form>
        <div class="form-group"></div>
            <form action="" method="POST" name="link_sponsor">
                {% csrf_token %} 
                <table class="table table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nit</th>
                            <th>Nombre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in sponsors %}
                        <tr>
                            <td>{{s.nit}}</td>
                            <td>{{s.name}}</td>
                            <td>
                                <button type="submit" class="btn btn-secondary" name="link_sponsor" value={{s.nit}}>Agregar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>

        <div class="container-sm p-4">
            <h3 class="py-3">Patrocinadores activos</h3>
        
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Nit</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in project_sponsors %}
                    <tr>
                        <td>{{r.nit}}</td>
                        <td>{{r.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>
{% endblock %}