{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/add_product.css' %}" />

    
    <div class="container-general">
        <header class="title-page">Agregar Producto</header>
        <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <header class="subtitle">Titulo:</header>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" value={{product.title}} required>
                </div>
            </div>

            <div class="row mb-3">
                <header class="subtitle">Descripción:</header>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name="description" value={{product.description}} required>
                </div>
            </div>

            <div class="row mb-3">
                <header class="subtitle">Tipo de producto:</header>
                <div class="col-sm-10">
                    <select class="form-select" id="type" name="type" required>
                        {% for option in form.type.field.choices %}
                            {% if option.0 == product.type %}
                                <option value="{{ option.0 }}" selected>{{ option.1 }}</option>
                            {% else %}
                                <option value="{{ option.0 }}">{{ option.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <header class="subtitle">DOI:</header>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="doi" name="doi" value={{product.doi}} required>
                </div>
            </div>

            <div class="row mb-3">
                <header class="subtitle">Enlace:</header>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="link" name="link" value={{product.link}} required>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" name="edit" value ="1" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
