{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/general_report.css' %}" />

<div class="container-sm p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reporte General</li>
        </ol>
    </nav>
</div>

<div class="container-general">
    <header class="title-page">Reporte General Sistema</header>
    
    <br>
    
    <header class="subtitle">Dinero total donado</header>
    <p>$ {{total_donated}}</p>
    
    <header class="subtitle">Cantidad de donaciones</header>
    <p>{{total_donations}}</p>
    
    <header class="subtitle">Cantidad de proyectos de investigación</header>
    <p>{{total_projects}}</p>
</div>

<header class="title-page">Top donadores</header>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>POS</th>
            <th>Nombre</th>
            <th>Total donado</th>
        </tr>
    </thead>
    <tbody>
        {% for s in ordered_by_donations %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ s.0.name }}</td>
            <td>{{ s.1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<header class="title-page">Top Investigadores</header>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>POS</th>
            <th>Nombre</th>
            <th>Cantidad Proyectos</th>
        </tr>
    </thead>
    <tbody>
        {% for s in ordered_by_projects %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ s.0.name }}</td>
            <td>{{ s.1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% for s in ordered_sponsors %}
<p>{{s.name}}</p>
{% endfor %}

{% endblock %}