{% extends 'base.html' %}

{% block content %}

    <h1>Sponsors</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>NIT</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Correo</th>
                    <th>Donación inicial</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sponsors %}
                <tr>
                    <td>{{s.nit}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.type}}</td>
                    <td>{{s.mail}}</td>
                    <td>{{s.initial_donation}}</td>
                    <td>{{s.status}}</td>
                    <td><button type="submit" name="new_donation" value="{{s.nit}}">Registrar Donación</button></td>
                    <td><button type="submit" name="nit" value={{s.nit}}>Editar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}