{% extends 'base.html' %}

{% block content %}

    <h1>Events</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for e in events %}
            <tr>
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.date}}</td>
                <td>{{e.type}}</td>
                <td><a href = "delete/{{e.id}}" >Delete</a></td>
                <td><a href = "/{{e.id}}">More info</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}