{% extends 'base.html' %}

{% block content %}

    <div class="card mx-4">
            <div class="card-body">
                <div class="container-sm py-4">
                <h1 class="card-title">{{project.name}}</h1>
                <p class="card-text">
                    ID: {{project.id}}<br>
                    NIT: {{project.nit}}<br>
                    {{project.description}}<br>
                    Inicio: {{project.start_date}}<br>
                    Fin: {{project.finish_date}}<br>
                </p>
            </div>
        </div>
    </div>
    <br>
    <a href="{% url 'add_product' project.id %}" class="btn btn-primary btn-lg">Añadir producto</a>
        


    <div class="container-sm p-4">
        <h1 class="py-3">Productos de investigación</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Tipo de paper</th>
                        <th>Enlace</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.type}}</td>
                        <td><a href="https://{{p.link}}" target="_blank">{{p.link}}</a></td>
                        <td><button type="submit" name="delete_product" value={{p.id}} class="btn btn-danger">Eliminar</button>
                            <button type="submit" name="edit_product" value={{p.id}} class="btn btn-primary">Editar</button></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}