<!DOCTYPE html>
<html>
<head>
    <title>Lista de Proyectos de Investigación</title>
</head>
<body>
    <h1>Lista de Proyectos de Investigación</h1>
    <ul>
        {% for project in project %}
            <li>
                <strong>{{ project.name }}</strong><br>
                Descripción: {{ project.descripction }}<br>
                Objetivos: {{ project.objectives }}<br>
                Fecha de Inicio: {{ project.start_date }}<br>
                Fecha de Finalización: {{ project.finish_date }}<br>
                NIT: {{ project.nit }}<br>
                <a href="{% url 'delete_project' project.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_project' %}">Crear Nuevo Proyecto</a>
</body>
</html>