{% extends 'base.html' %}

{% block content %}
<head>
    <title>Lista de Proyectos de Investigación</title>
</head>
<body>
    <h1>Lista de Proyectos de Investigación</h1>
    <table class = "table table-hover table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Objetivos</th>
            <th>Fecha de inicio</th>
            <th>Fecha de Finalización</th>
            <th>NIT</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for project in project %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.objectives }}</td>
                    <td>{{ project.star_date }}</td>
                    <td>{{ project.finish_date }}</td>
                    <td>{{ project.nit }}</td>
                    <td><a href="{% url 'delete_project' project.id %}">Eliminar</a>
                        <a href="{% url 'edit_project' project.id %}">Editar</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <ul>
        {% for project in project %}
            <li>
                <strong>{{ project.name }}</strong><br>
                Descripción: {{ project.description }}<br>
                Objetivos: {{ project.objectives }}<br>
                Fecha de Inicio: {{ project.start_date }}<br>
                Fecha de Finalización: {{ project.finish_date }}<br>
                NIT: {{ project.nit }}<br>
                <a href="{% url 'delete_project' project.id %}">Eliminar</a>
                <a href="{% url 'edit_project' project.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_project' %}">Crear Nuevo Proyecto</a>
</body>
{% endblock %}