{% extends 'base.html' %}

{% block content %}
<h1>Registrar patrocinador</h1>

<form action="" method="POST">
    {% csrf_token %}
      <p>
        <label for="id_nit">Nit:</label>
        <input type="number" name="nit" required="" id="id_nit">
      </p>
      <p>
        <label for="id_name">Nombre:</label>
        <input type="text" name="name" maxlength="255" required="" id="id_name">
      </p>
      <p>
        <label for="id_type">Tipo:</label>
        <select name="type" id="id_type">
            <option value="natural" selected="">NATURAL</option>
            <option value="juridica">JURIDICA</option>
        </select>
      </p>
      <p>
        <label for="id_mail">Correo:</label>
        <input type="email" name="mail" maxlength="200" required="" id="id_mail">
      </p>
      <p>
        <label for="id_initial_donation">Donación inicial:</label>
        <input type="number" name="initial_donation" step="0.001" required="" id="id_initial_donation">
      </p>
    <input type="submit">
</form>
{% endblock %}