{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sponsor_report.css' %}" />

<div class="container-sm p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_sponsors' %}">Lista de patrocinadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reporte de patrocinador</li>
        </ol>
    </nav>
</div>
<div class="container-general">
    <div class="text-right">
        
    <header class="title-page">Reporte General Patrocinador</header>

    <div class="card">
        <h5 class="card-header">Estado: {{sponsor.status}}</h5>
        <div class="card-body d-flex justify-content-between">
            <div>
                <h5 class="card-title">{{sponsor.name}}</h5>
                <p class="card-text">Nit: {{sponsor.nit}}</p>
                <p class="card-text">Tipo: {{sponsor.type}}</p>
                <p class="card-text">Email: {{sponsor.mail}}</p>
            </div>
        </div>
    </div>

    <br>
    <header class="subtitulo">Dinero total donado</header>
    <p>$ {{total_donated}}</p>
    <br>

    <header class="subtitulo">Cantidad de Donaciones</header>
    <p>{{num_donations}}</p>
    <br>
    
    <header class="subtitulo">Donaciones</header>
    <br>

    <div class="row row-cols-1 row-cols-md-1 g-4 px-4">
        {% for d in donations %}
            <div class="card text-dark bg-light mb-3 mx-3" style="max-width: 18rem;">
                <h5 class="card-header">Fecha: {{d.date}}</h5>
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">$ {{d.value}}</h5>
                        <p class="card-text">Tipo: {{d.type}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>

    
    <header class="subtitulo">Cantidad de proyectos de investigación</header>
    <p>{{num_projects}}</p>
    <br>
    
    
    <header class="subtitulo">Proyectos de investigación</header>
    <br>

    <div class="row row-cols-1 row-cols-md-1 g-4 px-4">
        {% for p in projects %}
            <div class="card text-dark bg-light mb-3 mx-3" style="max-width: 18rem;">
                <div class="card-header">{{p.start_date}} - {{p.finish_date}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">{{p.description}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <a href = "/sponsor/all" class = "btn btn-primary">Volver</a>
    </div>    
</div>
{% endblock %}